:root {
    --primary-font-family: 'Montserrat', sans-serif; 
    --secondary-font-family: 'Courier Prime', monospace;
    --primary-bg-color: #cedef0;
    --secondary-bg-color: #6b9bd1;
}

h1,
h2 {
    font-family: var(--secondary-font-family);
}

h1 {
    font-size: 70px;
}

h2 {
    font-size: 45px;
}

p {
    font-family: var(--primary-font-family);
    font-size: 24px;
}

.hero {
    text-align: center;
    padding: 180px 20px;
    margin-bottom: 80px;
    background: var(--primary-bg-color);
}

.hero p {
    font-size: 35px;
}

.about-hero {
    padding: 120px 100px;
}

.about-hero h1 {
    font-size: 50px;
}

.about-hero h2 {
    font-size: 24px;
}

.about-hero p {
    font-size: 18px;
}

.about-hero-description {
    padding: 50px 50px 0px 20px;
}

.custom-btn {
    font-family: var(--primary-font-family);
    background-color: var(--secondary-bg-color);
    padding: 15px 25px;
    color:white;
    border-radius: 4px;
    text-decoration: none;
    font-size: 20px;
}

.custom-btn:hover {
    color: white;
}


.rug-description {
    margin-top: 70px;
}

@media (max-width: 768px) {
    h1 {
        font-size: 40px;
    }
    
    h2 {
        font-size: 25px;
    }
    
    p {
        font-family: var(--primary-font-family);
        font-size: 16px;
    }

    .hero {
        padding: 80px 20px;
        margin-bottom: 50px;
    }

    .hero p {
        font-size: 20px;
    }

    .about-hero {
        padding: 70px 20px;
    }

    .about-hero-description {
        padding: 0px 30px;
        text-align: center;
    }

    .about-hero h1 {
        font-size: 35px;
    }
    
    .about-hero h2 {
        font-size: 20px;
        margin: 20px !important;
    }
    
    .about-hero p {
        font-size: 16px;
    }

    .about-hero-btn {
        margin-top: 30px !important;
        margin-bottom: 20px !important;
    }

    .custom-btn {
        font-size: 16px !important;
        padding: 10px 15px;
    }

    .container img {
        margin-top: 20px;
    }

    .rug-description {
        margin-top: 10px;
        text-align: center;
    }
}